<script setup>
import { useAttrs } from 'vue'

// accept predifined value as well
const internalSelectedOptions = ref(useAttrs().value ? useAttrs().value : '');

const props = defineProps({
	name: { type: String, required: true, },
	valueOptions: { type: Array, default: [], },
})
const emit = defineEmits([
	'internalSelectedOptions',
])

const emitselectedOption = () => {
	emit('internalSelectedOptions', internalSelectedOptions.value)
}

watch(internalSelectedOptions, (newValue) => {
	if (newValue) emitselectedOption()
})

</script>

<template>
	<div class="IconOptionFields">
		<div 
			class="each"
			:class="{checked: internalSelectedOptions === item[2], disabled: item[3]}"
			v-for="(item, index) in valueOptions"
			:key="index">
			<label 
				:for="item[2]"
				>
				<input 
					type="radio" 
					:id="item[2]" 
					:name="name" 
					:value="item[2]"
					:disabled="item[3]" 
					v-model="internalSelectedOptions"
				/>
				<SiteIcons :iconName="item[0]" />
				<span class="display-text">{{item[1]}}</span>
			</label>
		</div>
	</div>
</template>


<style lang="scss">
@use '~/styles/partials/_colors.scss';
@use '~/styles/partials/_mixins.scss';

.IconOptionFields{
	@apply grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5  gap-4;
	.each{
		@apply border rounded-lg relative text-center shadow bg-white;

		// disabled
		&.disabled {
			background: colors.$tm-lightestGrey;

			[type='radio'] {
				&:after {
					background-color: colors.$tm-lightestGrey;
					border: 3px solid colors.$tm-lighterGrey;
				}
				&:checked{
					&:after {
						background-color: colors.$tm-orange;
						border: 3px solid white;
					}
				}
			}

			svg{
				fill: colors.$tm-lighterGrey;
			}

			.display-text {
				color: colors.$tm-lighterGrey;
			}
		}

		// checked state
		&.checked{
			&.each{
				border: 2px solid colors.$tm-blue;
		}
	}
	}
	label {
		@apply p-2 cursor-pointer w-full h-full block font-bold;
	}
	svg{
		fill: colors.$tm-blue;
		width: 40px;
		@apply m-auto block mt-4 mb-4;
	}
	input{
		@apply absolute right-0 top-0 mt-2 mr-3 cursor-pointer;

		&[type='radio'] {
			&:after {
				width: 20px;
				height: 20px;
				border-radius: 20px;
				top: -2px;
				left: -1px;
				position: relative;
				background-color: #d1d3d1;
				content: '';
				display: inline-block;
				visibility: visible;
				border: 3px solid white;
				@apply shadow;
			}
			&:checked{
				&:after {
					background-color: colors.$tm-orange;
					border: 3px solid white;
				}
			}
		}

	}

	.display-text {
		@apply block mb-4;
	}

}
</style>
