<script>
export default {
	inheritAttrs: false,
}
</script>

<script setup>
import { useAttrs } from 'vue'
import { useField } from 'vee-validate'
import IconEyeOutline from '~icons/eva/eye-outline'
import IconEyeOffOutline from '~icons/eva/eye-off-outline'

const props = defineProps({
	name: { type: String, required: true, },
	type: { type: String, default: 'text', },
	validation: { type: Object, default: () => ({}), },
	modelValue: { type: String, default: null, },
})


const { style: attrStyle, class: attrClass, ...inputAttr } = useAttrs()

const revealPassword = ref(false)

const { meta, errors, value, setTouched, handleInput } = useField(props.name, props.validation, { bails: false })
watch(() => props.modelValue, (newValue) => {
	if (newValue) setTouched(true)
	if (meta.touched) value.value = props.modelValue
})
const hasValidationError = computed(() => errors.value.length > 0)


const emit = defineEmits([
	'update:modelValue',
])

const onInput = (event) => {
	const newValue = event.currentTarget.value;
	emit('update:modelValue', newValue, event)
	handleInput(event)
}



</script>

<template>
<div class="InputField" :class="attrClass" :style="attrStyle">
	<div class="input-container">
		<label>
			<span v-if="$slots.label" class="mb-1 inline-block">
				<slot name="label"></slot>
			</span>
			
			<div class="input-wrapper relative">
				<input
					class="input w-full"
					:class="{
						'!pr-12': type === 'password',
						'has-validation-error': !meta.valid && meta.touched,
					}"
					:type="(type === 'password' && revealPassword) ? 'text' : type"
					v-bind="inputAttr"
					:value="props.modelValue ?? value"
					@input="onInput"
				/>
				
				<component
					v-if="type === 'password'"
					:is="revealPassword ? IconEyeOutline : IconEyeOffOutline"
					@mousedown="revealPassword = true"
					@mouseup="revealPassword = false"
					class="absolute text-gray-400 right-0 top-0 mt-2.5 mr-3 text-xl cursor-pointer hover:text-gray-600"
				/>
			</div>
		
		</label>
		
	</div>
	<div v-if="hasValidationError" class="error-msg-container text-red-500 text-sm">
		<slot name="errorMsg" v-bind="{ meta, errors, value }"><span class="">{{errors[0]}}</span></slot>
	</div>
	<!-- <div v-else class="hint-container mt-1">
		<slot name="hint"></slot>
	</div> -->
</div>
</template>


<style scoped lang="scss">
@use '~/styles/partials/_colors.scss';
@use '~/styles/partials/_mixins.scss';

.InputField {
	display: flex;
	flex-direction: column;
}

.input-container {
	position: relative;
}

.input {
	border: 2px solid;
	line-height: 1.3333;
	@apply rounded-md border-gray-300 px-4 py-2.5;
	
	&:focus {
		outline: 0;
		border-color: colors.$tm-orange;
		@apply ring ring-orange-100;
	}
	
	&.has-validation-error {
		@apply border-red-400 ring-red-100;
		
		&:focus {
			@apply border-red-600;
		}
	}
}

</style>
