<script setup>
import MainSidebar1 from "~/components/MainSidebar.vue";
const showOverlay = ref(false)

</script>

<template>
<MainSidebar />
this is dashboard
</template>


<style scoped lang="scss">
@use '~/styles/partials/_colors.scss';
	.image-caption{
		color: colors.$tm-blue;
	}
</style>