<script setup>
const showOverlay = ref(true)
</script>

<template>
<MainSidebar />
this is 5g mobility
</template>


<style scoped lang="scss">
@use '~/styles/partials/_colors.scss';
@use '~/styles/partials/_mixins.scss';

.grid-table-content {
	@apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4;
	>* {
		p:nth-child(1) {
			color: colors.$tm-lightGrey;
			@apply text-sm;
		}
		p:nth-child(2) {
			color: colors.$tm-darkGrey;
		}
	}
}
</style>