<script setup>
import { CreateGlobalState } from '~/stores/global-state'

const GlobalState = CreateGlobalState()

// GlobalState.value.currentPage = 'home'

</script>

<template>
<MainSidebar />
this is order capture
</template>


<style scoped lang="scss">
@use '~/styles/partials/_colors.scss';
	.image-caption{
		color: colors.$tm-blue;
	}
</style>