<script setup lang="ts">
import { useUserStore } from '~/stores/user'

const firstName = ref('')
const lastName = ref('')
const dob = ref('')
const gender = ref('')

const userStore = useUserStore()

const router = useRouter()
const go = () => {
	// if (name.value) router.push(`/hi/${encodeURIComponent(name.value)}`)
}

const createUser = () => {
	userStore.createUser({
		firstName: firstName.value,
		lastName: lastName.value,
		gender: gender.value,
		dob: new Intl.DateTimeFormat('en-MY').format(new Date(dob.value)),
	})
	
	firstName.value = ''
	lastName.value = ''
	dob.value = ''
	gender.value = ''
}
</script>

<template>
	<div class="container">
		<p class="text-4xl">
			<carbon-campsite class="inline-block" />
		</p>
		<p>
			<em class="text">Opinionated Vite Starter Template</em>
		</p>

		<hr class="my-5" />

		<div class="max-w-lg">
			<h3 class="text-2xl font-medium uppercase mb-4">Make new user</h3>
			
			<div class="grid grid-cols-2 grid-rows-none gap-4">
				
				<label class="flex flex-col">
					<span>First Name</span>
					<input
						v-model="firstName"
						placeholder="E.g. Ryzon"
						type="text"
						autocomplete="off"
						autofill="off"
						class="
							px-4
							py-1.5
							w-[250px]
							bg-transparent
							rounded
							border border-gray-400
							outline-none
						"
					/>
				</label>
				
				<label class="flex flex-col">
					<span>Last Name</span>
					<input
						v-model="lastName"
						placeholder="E.g. Teoh"
						type="text"
						autocomplete="off"
						autofill="off"
						class="
							px-4
							py-1.5
							w-[250px]
							bg-transparent
							rounded
							border border-gray-400
							outline-none
						"
					/>
				</label>
				
				<label class="flex flex-col">
					<span>D.O.B</span>
					<input
						v-model="dob"
						type="date"
						autocomplete="off"
						autofill="off"
						class="
							px-4
							py-1.5
							w-[250px]
							bg-transparent
							rounded
							border border-gray-400
							outline-none
						"
					/>
				</label>

				<label class="flex flex-col">
					<span>Gender</span>
					<select
						v-model="gender"
						autocomplete="off"
						autofill="off"
						class="
							px-4
							py-1.5
							w-[250px]
							bg-transparent
							rounded
							border border-gray-400
							outline-none
						"
					>
						<option value="">Unknown</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
				</label>
			</div>
			
			<div>
				<button class="mt-6 text-sm btn" @click="createUser">
					Create User
				</button>
			</div>
		</div>
		
		<hr class="my-5" />
		
		
		<div class="container mx-auto">
			<UserListing />
		</div>
			
		<hr class="my-5" />
		

		<!-- <div>
			<button class="m-3 text-sm btn" :disabled="!name" @click="go">
				Go
			</button>
		</div> -->
	</div>
</template>
