<script setup>


// this method is required at beforeEnter because image might not be loaded,
// if so, 'el.scrollHeight' won't be accurate hence this method is to listen to the 'load' event of all nested <img>
const handleNestedImgsLoad = (el) => {
	const allImgChildren = Array.from(el.querySelectorAll('img') || [])
	const imgChildrenMap = new Map()

	allImgChildren.forEach((img) => {
		imgChildrenMap.set(img.src, img)
	})

	if (imgChildrenMap.size !== 0) {
		el.addEventListener(
			'load',
			(event) => {
				const { target } = event
				if (target.tagName == 'IMG') imgChildrenMap.delete(target.src)
				if (imgChildrenMap.size === 0) enter(el)
			},
			true // <-- useCapture
		)
	}
}

const beforeEnter = (el) => {
	handleNestedImgsLoad(el)
	el.style.height = '0'
}

const enter = (el) => {
	el.style.height = `${el.scrollHeight}px`
}

const afterEnter = (el) => {
	el.style.height = `auto`
}

const beforeLeave = (el) => {
	el.style.height = `${el.scrollHeight}px`
}

const leave = async (el) => {
	await nextTick()
	el.style.height = `0`
}

</script>

<template>
<transition
	name="simple-slide-down"
	@before-enter="beforeEnter"
	@after-enter="afterEnter"
	@enter="enter"
	@before-leave="beforeLeave"
	@leave="leave"
	:style="{}"
>
	<slot></slot>
</transition>
</template>

<style scoped lang="scss">

.simple-slide-down-enter-active,
.simple-slide-down-leave-active {
	transition: all 0.2s;
}

.simple-slide-left-enter-active,
.simple-slide-left-leave-active {
	transition: all 0.2s;
}

.simple-fade-enter-active,
.simple-fade-leave-active {
	transition: all 0.2s;
}

</style>
