
@use './partials/_colors.scss';
@use './partials/_base.scss';
@use './partials/_mixins.scss';
@use './fonts/icons.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
	font-family: 'Roboto', sans-serif;
	color: #343434;
	--textColor: #343434;
}

// default icon size
//[class^="icon-"] {
//    font-size: 1.1rem;
//}
