//@font-face {
//	font-family: 'customIcons';
//	src:  url('__');
//	src:  url('__#iefix') format('embedded-opentype'),
//	  url('__') format('truetype'),
//	  url('__') format('woff'),
//	  url('__') format('svg');
//	font-weight: normal;
//	font-style: normal;
//	font-display: block;
//  }
  
//  [class^="icon-"], [class*=" icon-"] {
//	/* use !important to prevent issues with browser extensions that change fonts */
//	font-family: 'customIcons' !important;
//	speak: never;
//	font-style: normal;
//	font-weight: normal;
//	font-variant: normal;
//	text-transform: none;
//	line-height: 1;
  
//	/* Better Font Rendering =========== */
//	-webkit-font-smoothing: antialiased;
//	-moz-osx-font-smoothing: grayscale;
//  }
  
//  .icon-order-icon:before {
//	content: "\e900";
//  }