<script setup>
import useSessionTimeout from '~composition/useSessionTimeout.js'

const {} = useSessionTimeout({
	triggers: [
		{
			elapse: 5 * 1000, // 5 seconds
			handler ({ pause, resume, reset }) {
				pause()
				showSessionTimeoutOverlay.value = true
				const unwatch = watchEffect(() => {
					if (showSessionTimeoutOverlay.value === false) {
						unwatch()
						resume()
						reset()
					}
				})
			},
		},
		{
			elapse: 10 * 1000, // 10 seconds
			handler ({ pause, resume, reset }) {
				console.log('Auto logout');
			},
		},
	],
})

const showSessionTimeoutOverlay = ref(false)

</script>

<template>
<div class="layout-post-login flex flex-col min-h-screen">
	<MainHeader />
	
	<div class="page-content-container flex items-stretch flex-grow">
		<MainSidebar />
		<div class="page-content p-10  w-full">
			<slot></slot>
		</div>
	</div>
	
	<VueOverlay
		v-if="showSessionTimeoutOverlay"
		v-model:visible="showSessionTimeoutOverlay"
		:backdropClosable="false"
		variant="fluid-580"
	>
		<template #header>
			<h3 class="">Session Timeout</h3>
		</template>
		
		<template #body>
			<div class="">
				<div class="flex items-center justify-center">
					<ant-design:info-circle-outlined class="text-xl text-tm-blue" />
					<h3 class="ml-4 text-xl">Your session is about to timeout</h3>
				</div>
				<p class="text-center mt-4">Please click Continue to resume the session.</p>
			</div>
		</template>
		
		<template #footer="{ hideOverlay }">
			<div class="flex mt-0">
				<!-- <CTAButton
					class="mr-auto"
					variant="outline"
					@click="hideOverlay"
				>Cancel</CTAButton> -->
				<CTAButton
					class="ml-auto"
					@click="hideOverlay"
				>Continue</CTAButton>
			</div>
		</template>
	</VueOverlay>
</div>
</template>


<style scoped lang="scss">
@use '~/styles/partials/_colors.scss';
@use '~/styles/partials/_mixins.scss';

.layout-post-login {
	.page-content {
		background-color: #F9F9FB;
		flex-grow: 1;
		
		&:empty {
			display: flex;
			background: url('~/assets/img/home-graphics.png') no-repeat center center;
			
			&::after {
				content: 'Welcome to MSP';
				color: colors.$tm-blue;
				font-weight: 700;
				font-size: 24px;
				display: block;
				margin: auto;
				transform: translateY(150px); // 300px (the graphic height) divide by 2
			}
		}
	}
}
</style>
