<script setup>

</script>

<template>
<div class="layout-prelogin flex">
	<div class="flex flex-col bg-white rounded-lg m-auto max-w-lg w-full p-10 min-h-[420px]">
		<slot></slot>
	</div>
</div>
</template>


<style scoped lang="scss">
@use '~/styles/partials/_colors.scss';
@use '~/styles/partials/_mixins.scss';

.layout-prelogin {
	width: 100vw;
	height: 100vh;
	background: url('/assets/img/prelogin-bg.jpg') no-repeat center center/cover;
}
</style>
