<script setup>
import * as yup from 'yup'
import { useForm } from 'vee-validate'
import IconSpinner from '~icons/ei/spinner-3'
import useAPIRequest from '~composition/useAPIRequest.js'


const userIdValue = ref('')
const userPasswordValue = ref('')
const apiErrorMsg = ref('')

const { handleSubmit, isSubmitting } = useForm()

const { fetch: loginFetch, responseData: loginResponseData } = useAPIRequest('POST /token')

const onSubmit = handleSubmit(async (values) => {
	apiErrorMsg.value = ''
	const submitData = values
	
	console.log('submitData = ', submitData);
	
	try {
		await loginFetch(submitData)
		console.log('loginResponseData.value = ', loginResponseData.value);
	} catch (err) {
		// console.log('api err = ', JSON.stringify(err));
		if (err.message === 'Network Error') {
			apiErrorMsg.value = 'The server might be down or you do not have an internet connection.'
		} else {
			console.log('loginResponseData.value = ', loginResponseData.value);
			apiErrorMsg.value = loginResponseData.value.description ?? '';
		}
	}
})


const activeTab = ref('p1')

</script>

<template>
<MainSidebar />
this is index
</template>
