<script setup>
const props = defineProps({
	// modelValue: { type: String, default: '', },
})
const emit = defineEmits([
	// 'update:modelValue',
])


</script>

<template>
<div class="NewComponent">
	
</div>
</template>


<style scoped lang="scss">
@use '~/styles/partials/_colors.scss';
@use '~/styles/partials/_mixins.scss';

.NewComponent {
	
}

</style>
