<script setup>
const props = defineProps({
	variant: { type: String, default: '', validator: (value) => ['', 'full-width', 'outline'].includes(value), },
	type: { type: String, default: 'button' },
	disabled: { type: Boolean, default: false },
})



</script>

<template>
<div class="CTAButton" :data-variant="variant">
	<button
		class="button"
		tabindex="0"
		:type="type"
		:disabled="disabled"
	>
		<div class="button-inner" tabindex="-1">
			<slot></slot>
		</div>
	</button>
</div>
</template>


<style scoped lang="scss">
@use '~/styles/partials/_colors.scss';
@use '~/styles/partials/_mixins.scss';

.CTAButton {
	display: flex;
	line-height: 1.33333;
	
	&[data-variant="full-width"] {
		.button {
			flex-grow: 1;
		}
	}
	&[data-variant="outline"] {
		.button-inner {
			color: colors.$tm-orange;
			background-color: white;
			border-color: colors.$tm-orange;
			
			&:hover {
				background-color: colors.$tm-orange;
				color: white;
			}
		}
	}
}

.button {
	cursor: pointer;
	min-width: 150px;
	
	&:focus {
		outline: 2px dashed colors.$tm-orange;
		outline-offset: 4px;
	}
	&:disabled {
		.button-inner {
			@apply bg-gray-400;
			cursor: default;
			/* filter: grayscale(1); */
			/* pointer-events: none; */
		}
	}
}
.button-inner {
	background-color: colors.$tm-orange;
	border: 2px solid transparent;
	text-align: center;
	font-size: 18px;
	border-radius: 8px;
	color: white;
	transition: all 0.25s;
	line-height: 1.25;
	@apply py-3 px-4;
	
	&:hover {
		background-color: darken(colors.$tm-orange, 10%);
	}
	&:focus {
		outline: 0;
	}
}

</style>
