<script setup>
import { CreateGlobalState } from '~/stores/global-state'

const router = useRouter()
const route = useRoute()
const currPath = computed(() => {
	return route.name
})

const GlobalState = CreateGlobalState()

// run when route.name change
const WatchGlobalState = watchEffect(() => {
	//// reset 
	//GlobalState.value.navigation.map((nav) => {
	//	nav.active = false;
	//	if(nav.subMenu) {
	//		nav.subMenu.map((subNav) => {
	//			subNav.active = false;
	//			return subNav;
	//		})
	//	}
	//	return nav;
	//})

	//// update current nav
	//let currentNavInfo = GlobalState.value.navigation.find((nav) => {
	//	if(nav.name === currPath.value) {
	//		return nav.name === currPath.value
	//	} else {
	//		return nav.subMenu.find((subMenu) => {
	//			if(subMenu.name === currPath.value) {
	//				return subMenu.name === currPath.value
	//			}
	//		})
	//	}
	//})

	//// if page is not created, route.name will return all
	//// set active
	//if(currPath.value !== 'all') {
	//	currentNavInfo.active = true
	//	if(currentNavInfo.subMenu.length !== 0) {
	//		currentNavInfo.subMenu.forEach((subNav) => {
	//			if (subNav.name === currPath.value) {
	//				subNav.active = true;
	//			}
	//		})
	//	}
	//} else {
	//	router.replace({ name: '404'});
	//}
})

//const props = defineProps({
//	sampleProp: { type: String, default: '', },
//})

</script>

<template>
	<div class="bg-red-200">
		<router-link to="/dashboard">home</router-link><br />
		<router-link to="/dashboard/order-capture">order capture</router-link><br />
		<router-link to="/dashboard/order-capture/5g-mobility">5G mobility</router-link><br />
	</div>
</template>


<style lang="scss">
@use '~/styles/partials/_colors.scss';
@use '~/styles/partials/_mixins.scss';

@mixin add-nav-border {
	&:before{
		content: "";
		width: 4px;
		height: 100%;
		display: block;
		background: colors.$tm-blue;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.MainSidebar {
	$sidebarWidth: 256px;
	$sidebarCollapseWidth: 1px;

	transition: all 0.4s;
	@apply py-6;
	border-right: 1px solid #CCC;
	box-shadow: 0px 0px 3px #00000029;
	background-color: white;
	&.collapse {
		flex: 0 0 $sidebarCollapseWidth;
		// remove margin when collapse 
		a{
			@apply justify-center;
		}
		svg {
			@apply mr-0;
		}
	}
	&.expand {
		flex: 0 0 $sidebarWidth;
		svg {
			@apply mr-2;
		}
	}
}

.nav-container{
	li {
		a {
			@apply relative;
			&:hover {
				color: colors.$tm-blue;
				background: #F9F9FB;
				//border-left: 4px solid colors.$tm-blue;
				@include add-nav-border;
				svg {
					fill: colors.$tm-blue;
				}
			}
		}

		.active {
			color: colors.$tm-blue;
			background: #F9F9FB;
			//border-left: 4px solid colors.$tm-blue;
			@include add-nav-border;
			svg {
				fill: colors.$tm-blue;
			}			
			+.sub-nav{
				@apply block;
				.active{
					// border-left: 4px solid colors.$tm-blue;
					@include add-nav-border;
				}
			}
		}

		// hidden if not active
		.sub-nav{
			@apply hidden;
			
			span {
				@apply relative;
				left: 32px;
			}
		}

	}
}

/* vue transition for sidebar */
// .MainSidebar-leave-active{
//	flex: 0 0 10px;
// }

</style>
