<script setup>
import { ref } from 'vue'
import { onClickOutside } from '@vueuse/core'
import { CreateGlobalState } from '~/stores/global-state'

const sideProfilePopUpBox = ref(null)
const GlobalState = CreateGlobalState()

const toggleMenu = () => {
	GlobalState.value.sideNavToggle = !GlobalState.value.sideNavToggle
}

//const props = defineProps({
//	// sampleProp: { type: String, default: '', },
//})

let showPopupBox = ref(false)

// sideProfilePopUpBox's click outside callback
onClickOutside(sideProfilePopUpBox, (event) => {
	// enable toggle on side-icon-image + other elements outside
	if (event.target.id !== 'side-icon-image') {
		showPopupBox.value = false;
	}
})
</script>

<template>
	<header class="MainHeader">
		<div class="flex justify-between items-center">

			<div @click="toggleMenu()" class="hamburger-menu cursor-pointer flex" width="32" height="32" >
				<fe:bar class="text-[#0070c0]" width="32" height="32" />
			</div>

			<div class="tm-logo relative left-1.5rem mr-auto">
				<a href="./">
					<img width="64" height="44" src="/src/assets/svg/tmone-logo.svg" alt="TM One logo">
				</a>
			</div>
			
			<div class="profile-side-container relative flex">
				<div
				@click="showPopupBox = !showPopupBox" 
				class="profile-side-icon inline-block overflow-hidden rounded-full max-w-[32px] cursor-pointer">
					<img id="side-icon-image" class="h-full w-full" src="/src/assets/img/profile-default.png" alt="profile icon">
				</div>
				<div 
				ref="sideProfilePopUpBox" 
				v-if="showPopupBox" 
				class="grid grid-cols-1 border absolute m-auto left-0 right-0 bg-white rounded-md shadow-md w-[300px] left-[-300px] top-40px">
					<div class="row-span-1 border-b p-3 flex items-center">
						<div class="profile-side-icon inline-block overflow-hidden rounded-full max-w-[24px] mr-2">
							<img class="h-full w-full" src="/src/assets/img/profile-default.png" alt="profile icon">
						</div>
						<span class="mt-0.5">{{'TM12345'}}</span>
					</div>
					<div class="row-span-1 p-3">
						<a href="./logout" class="flex items-center leading-none">
							<span><fe:logout  class="text-[#0070c0] mr-2"/></span>
							<span class="relative top-[1px]">Log Out</span>
						</a>
					</div>
				</div>
			</div>

		</div>
	</header>
</template>


<style scoped lang="scss">
@use '~/styles/partials/_colors.scss';
@use '~/styles/partials/_mixins.scss';

.MainHeader {
	// height: 64px;
	padding: 0.5rem 2rem;
	background-image: linear-gradient(to bottom, #FFFFFF, #D3E9F7);
	box-shadow: 0px 2px 4px #C2C2C299;
	position: sticky;
	top: 0;
	z-index: 1000;
}
</style>
