<script setup>
// icons
import FeHome from '~icons/fe/home'
import FeSearch from '~icons/fe/search'

const props = defineProps({
	iconName: { type: String, default: ''},
})
</script>

<template>

	<svg :class="`${props.iconName}-custom-icon`" v-if="props.iconName === 'OrderCapture'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" xml:space="preserve">
		<path d="M18 3h-1c0-1.1-.9-2-2-2H9c-1.1 0-2 .9-2 2H6C4.3 3 3 4.3 3 6v14c0 1.7 1.3 3 3 3h12c1.7 0 3-1.3 3-3V6c0-1.7-1.3-3-3-3zM9 3h6v2H9V3zm10 17c0 .6-.4 1-1 1H6c-.6 0-1-.4-1-1V6c0-.6.4-1 1-1h1c0 1.1.9 2 2 2h6c1.1 0 2-.9 2-2h1c.6 0 1 .4 1 1v14z"/>
		<path d="M16.5 10.5h-9c-.6 0-1 .4-1 1s.4 1 1 1h9c.6 0 1-.4 1-1s-.4-1-1-1zM14.5 14.5h-7c-.6 0-1 .4-1 1s.4 1 1 1h7c.6 0 1-.4 1-1s-.4-1-1-1z"/>
	</svg>

	<component :is="FeHome" v-if="props.iconName === 'FeHome'" />

	<component :is="FeSearch" v-if="props.iconName === 'FeSearch'" />

</template>


<style scoped lang="scss">
// @use '~/styles/partials/_colors.scss';

[class*="-custom-icon"] {
	width: 1.2rem;
	fill: black;
}
</style>
