<script setup>
import { useAttrs } from 'vue'
// icons
import FeHome from '~icons/fe/home'
import FeSearch from '~icons/fe/search'

const props = defineProps({
	iconName: { type: String, default: ''},
})
</script>

<template>

	<svg :class="`${props.iconName}-custom-icon`" v-if="props.iconName === 'OrderCapture'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" xml:space="preserve">
		<path d="M18 3h-1c0-1.1-.9-2-2-2H9c-1.1 0-2 .9-2 2H6C4.3 3 3 4.3 3 6v14c0 1.7 1.3 3 3 3h12c1.7 0 3-1.3 3-3V6c0-1.7-1.3-3-3-3zM9 3h6v2H9V3zm10 17c0 .6-.4 1-1 1H6c-.6 0-1-.4-1-1V6c0-.6.4-1 1-1h1c0 1.1.9 2 2 2h6c1.1 0 2-.9 2-2h1c.6 0 1 .4 1 1v14z"/>
		<path d="M16.5 10.5h-9c-.6 0-1 .4-1 1s.4 1 1 1h9c.6 0 1-.4 1-1s-.4-1-1-1zM14.5 14.5h-7c-.6 0-1 .4-1 1s.4 1 1 1h7c.6 0 1-.4 1-1s-.4-1-1-1z"/>
	</svg>

	<svg :class="`${props.iconName}-custom-icon`" v-if="props.iconName === 'NewInstall'" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	viewBox="0 0 49.8 48" style="enable-background:new 0 0 49.8 48;" xml:space="preserve">
		<g transform="translate(-294 -446.85)">
			<g transform="translate(295 453.475)">
				<g>
					<path d="M11.6,35.9c-0.5,0-0.9-0.2-1.3-0.5L-0.4,24.9C-0.8,24.6-1,24.1-1,23.6c0-0.5,0.2-1,0.5-1.3l10.8-10.5
						c0.7-0.7,1.9-0.7,2.6,0c0.3,0.3,0.5,0.8,0.5,1.3v4.2h13.2c1.5,0,2.7,1.2,2.7,2.7v7.2c0,1.5-1.2,2.7-2.7,2.7H13.5v4.2
						c0,0.5-0.2,0.9-0.5,1.3S12.1,35.9,11.6,35.9C11.6,35.9,11.6,35.9,11.6,35.9z M11.5,34.1C11.5,34.1,11.5,34.1,11.5,34.1L11.5,34.1
						z M1.1,23.6l10.4,10.1v-4c0-1,0.8-1.8,1.8-1.8h13.4c0.4,0,0.7-0.3,0.7-0.7V20c0-0.4-0.3-0.7-0.7-0.7H13.3c-1,0-1.8-0.8-1.8-1.8
						v-4L1.1,23.6z M11.5,13.1C11.5,13.1,11.5,13.1,11.5,13.1L11.5,13.1z"/>
				</g>
				<g>
					<path d="M36.2,23.6C36.2,23.6,36.2,23.6,36.2,23.6c-0.5,0-1-0.2-1.3-0.5c-0.3-0.3-0.5-0.8-0.5-1.3v-4.2h-1.5c-0.6,0-1-0.4-1-1
						s0.4-1,1-1h1.6c1,0,1.8,0.8,1.8,1.8v4l10.4-10.1L36.4,1.2v4c0,1-0.8,1.8-1.8,1.8H21.2c-0.4,0-0.7,0.3-0.7,0.7v6.1
						c0,0.6-0.4,1-1,1s-1-0.4-1-1V7.7c0-1.5,1.2-2.7,2.7-2.7h13.2V0.8c0-0.5,0.2-0.9,0.5-1.3C35.2-0.8,35.7-1,36.2-1
						c0.5,0,1,0.2,1.3,0.5L48.3,10c0.7,0.8,0.7,1.9,0,2.6L37.5,23.1C37.1,23.4,36.7,23.6,36.2,23.6z M36.4,21.8L36.4,21.8
						C36.4,21.8,36.4,21.8,36.4,21.8z M34.6,17.6L34.6,17.6L34.6,17.6z M36.4,0.8L36.4,0.8C36.4,0.8,36.4,0.8,36.4,0.8z"/>
				</g>
			</g>
		</g>
	</svg>

	<svg :class="`${props.iconName}-custom-icon`" v-if="props.iconName === 'Modify'" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
		<g transform="translate(-235 -447)">
			<g transform="translate(237 448.5)">
				<g>
					<path d="M18.3,13.9C18.3,13.9,18.3,13.9,18.3,13.9c-1.3,0-2.6-0.5-3.5-1.5c-0.9-0.9-1.5-2.2-1.5-3.5l0,0c0-2.8,2.2-5,5-5
						c2.8,0,5,2.2,5,5c0,1.3-0.5,2.6-1.5,3.5C20.9,13.4,19.6,13.9,18.3,13.9z M15.3,8.9c0,0.8,0.3,1.6,0.9,2.1
						c0.6,0.6,1.3,0.9,2.1,0.9h0c0.8,0,1.6-0.3,2.1-0.9s0.9-1.3,0.9-2.1c0-1.7-1.3-3-3-3C16.6,5.9,15.3,7.2,15.3,8.9L15.3,8.9z"/>
				</g>
				<g>
					<path d="M3.6,37.5c-1,0-2-0.5-2.6-1.3c-0.6-1-0.7-2.1-0.3-3.2l2.6-8.1h4.8l-1.5,6.7h22.8l-1.5-6.7h4.8l2.6,8.2
						c0.4,1,0.3,2.1-0.3,3.1c-0.7,1-1.7,1.5-2.8,1.4l-28.3,0C3.7,37.5,3.7,37.5,3.6,37.5z M4.7,26.9l-2.1,6.8c-0.2,0.5-0.1,1,0.1,1.4
						c0.2,0.3,0.6,0.5,1,0.4l28.5,0c0.5,0,0.9-0.2,1.1-0.5c0.2-0.3,0.3-0.8,0.1-1.3l-2.2-6.8h-0.9l1.4,6.7H4.2L4.5,32l1.1-5.2H4.7z"/>
				</g>
				<g>
					<path d="M18.3,29.4l-0.9-1.1c-0.2-0.3-0.6-0.7-1-1.3c-1.1-1.4-2.1-2.9-3-4.4c-2.9-4.8-4.4-9.2-4.4-13.1c0-2.6,0.9-5.1,2.7-7.1
						c1.6-1.8,3.8-2.8,6.2-3c2.4-0.1,4.7,0.7,6.5,2.3C24.5,2,24.7,2.2,25,2.5c1.8,1.9,2.7,4.5,2.7,7.1c0,3.8-1.5,8.2-4.4,13.1
						c-0.9,1.5-1.9,3-3,4.4c-0.4,0.5-0.8,1-1,1.3L18.3,29.4z M18.3,1.5c-0.1,0-0.3,0-0.4,0c-1.9,0.1-3.5,0.9-4.8,2.3
						c-1.4,1.6-2.2,3.6-2.2,5.7c0,4.3,2.3,8.9,4.1,12.1c0.9,1.5,1.9,2.9,2.9,4.2c0.1,0.2,0.2,0.3,0.3,0.4c0.1-0.1,0.2-0.3,0.3-0.4
						c1-1.4,2-2.8,2.9-4.2c1.9-3.1,4.1-7.7,4.1-12c0-2.1-0.8-4.2-2.2-5.7c-0.2-0.2-0.4-0.4-0.6-0.6C21.6,2.1,20,1.5,18.3,1.5z"/>
				</g>
			</g>
		</g>
	</svg>

	<svg :class="`${props.iconName}-custom-icon`" v-if="props.iconName === 'Terminate'" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	viewBox="0 0 41 40" style="enable-background:new 0 0 41 40;" xml:space="preserve">
		<g transform="translate(-252 -129.35)">
			<g transform="translate(0 -0.383)">
				<g>
					<path d="M286.1,140.7c-3.8,0-6.9,3.1-6.9,6.9c0,3.8,3.1,6.9,6.9,6.9c3.8,0,6.9-3.1,6.9-6.9C293,143.8,289.9,140.7,286.1,140.7
						C286.1,140.7,286.1,140.7,286.1,140.7 M286.1,143c2.5,0,4.6,2.1,4.6,4.6c0,0,0,0,0,0c0,0.8-0.2,1.6-0.6,2.3l-6.3-6.3
						C284.5,143.3,285.3,143,286.1,143 M282.1,145.3l4.6,4.6l1.7,1.7c-0.7,0.4-1.5,0.7-2.3,0.6c-2.5,0-4.6-2.1-4.6-4.6c0,0,0,0,0,0
						C281.4,146.8,281.7,146,282.1,145.3z"/>
				</g>
				<g>
					<path d="M280.3,167.2c-0.6,0-1-0.4-1-1v-3.6c0-3.5-2.8-6.3-6.3-6.3h-12.7c-3.5,0-6.3,2.8-6.3,6.3v3.6c0,0.6-0.4,1-1,1s-1-0.4-1-1
						v-3.6c0-4.6,3.7-8.3,8.3-8.3H273c4.6,0,8.3,3.7,8.3,8.3v3.6C281.3,166.7,280.8,167.2,280.3,167.2z"/>
				</g>
				<g>
					<path d="M266.6,148.8c-4.6,0-8.3-3.7-8.3-8.3s3.7-8.3,8.3-8.3c4.6,0,8.3,3.7,8.3,8.3S271.2,148.8,266.6,148.8z M266.6,134.3
						c-3.5,0-6.3,2.8-6.3,6.3s2.8,6.3,6.3,6.3s6.3-2.8,6.3-6.3S270.1,134.3,266.6,134.3z"/>
				</g>
			</g>
		</g>
	</svg>

	<svg :class="`${props.iconName}-custom-icon`" v-if="props.iconName === 'Relocate'" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
		<g transform="translate(-242 -138)">
			<g transform="translate(243.654 139.654)">
				<g>
					<path d="M6.4,13.7c-0.3,0-0.5-0.1-0.7-0.3l-4-4c-1.1-1.1-1.1-3,0-4.1L7-0.1c1.1-1.1,3-1.1,4.1,0l4,4c0.4,0.4,0.4,1,0,1.4
						c-0.4,0.4-1,0.4-1.4,0l-4-4c-0.4-0.4-0.9-0.4-1.3,0L3,6.7C2.7,7,2.7,7.6,3,7.9l4,4c0.4,0.4,0.4,1,0,1.4
						C6.9,13.6,6.6,13.7,6.4,13.7z"/>
				</g>
				<g>
					<path d="M28.3,36.7C28.3,36.7,28.3,36.7,28.3,36.7c-0.8,0-1.5-0.3-2.1-0.9l-4-4c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l4,4
						c0.4,0.4,0.9,0.4,1.3,0c0,0,0,0,0,0l5.4-5.4c0.4-0.4,0.4-0.9,0-1.3l-4-4c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l4,4
						c1.1,1.1,1.1,3,0,4.1l-5.4,5.4c0,0,0,0,0,0C29.8,36.4,29,36.7,28.3,36.7z"/>
				</g>
				<g>
					<path d="M8.1,36.7c-0.8,0-1.5-0.3-2.1-0.9l-5.3-5.3c-0.6-0.6-0.9-1.3-0.9-2.1c0-0.8,0.3-1.6,0.9-2.1L26.2,0.9
						c1.1-1.1,3.1-1.1,4.2,0l5.3,5.3c1.2,1.2,1.2,3.1,0,4.2L10.2,35.8C9.6,36.4,8.9,36.7,8.1,36.7z M28.3,2c-0.3,0-0.5,0.1-0.7,0.3
						L2.1,27.7c-0.2,0.2-0.3,0.4-0.3,0.7c0,0.3,0.1,0.5,0.3,0.7l5.3,5.3c0.4,0.4,1,0.4,1.4,0L34.3,8.9c0.4-0.4,0.4-1,0-1.4L29,2.3l0,0
						C28.8,2.1,28.6,2,28.3,2z"/>
				</g>
				<g>
					<circle cx="18.2" cy="18.3" r="1.9"/>
				</g>
				<g>
					<circle cx="14.4" cy="22.1" r="1.9"/>
				</g>
				<g>
					<circle cx="22" cy="14.5" r="1.9"/>
				</g>
			</g>
		</g>
	</svg>

	<svg :class="`${props.iconName}-custom-icon`" v-if="props.iconName === 'Transfer'" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
		<g>
			<path d="M31.2,30.3h-2c-0.3,0-0.5,0.2-0.5,0.5v2c0,0.3,0.2,0.5,0.5,0.5h2c0.3,0,0.5-0.2,0.5-0.5v-2C31.7,30.5,31.5,30.3,31.2,30.3z
				"/>
			<path d="M13.2,11.6c0,0.3,0.1,0.7,0.4,0.9l5.8,5.8c0.3,0.3,0.6,0.4,0.9,0.4c0.3,0,0.7-0.1,0.9-0.4l5.8-5.8c0.2-0.2,0.4-0.6,0.4-0.9
				c0-0.7-0.6-1.3-1.3-1.3h-2.5l0-7.7c0-0.7-0.6-1.3-1.3-1.3h-3.9c-0.7,0-1.3,0.6-1.3,1.3v7.7h-2.5c-0.3,0-0.7,0.1-0.9,0.4
				C13.3,11,13.2,11.3,13.2,11.6z M19,12.3v-9h2.5l0,9h2.8l-4.1,4.1l-4.1-4.1H19z"/>
			<path d="M33.4,1h-6.8c-0.6,0-1,0.4-1,1s0.4,1,1,1h6.8c0.8,0,1.4,0.6,1.4,1.4v20.5H5.2V4.4C5.2,3.6,5.9,3,6.6,3h6.8c0.6,0,1-0.4,1-1
				s-0.4-1-1-1H6.6C4.8,1,3.2,2.5,3.2,4.4v31.2c0,1.9,1.5,3.4,3.4,3.4h26.8c1.9,0,3.4-1.5,3.4-3.4V4.4C36.8,2.5,35.2,1,33.4,1z
				M33.4,37H6.6c-0.8,0-1.4-0.6-1.4-1.4v-8.7h29.5v8.7C34.8,36.4,34.1,37,33.4,37z"/>
		</g>
	</svg>

	<component :is="FeHome" v-if="props.iconName === 'FeHome'" />

	<component :is="FeSearch" v-if="props.iconName === 'FeSearch'" />
	

</template>


<style lang="scss">
// @use '~/styles/partials/_colors.scss';

[class*="-custom-icon"] {
	width: 1.2rem;
	fill: black;
}
</style>
