<script setup lang="ts">
import { storeToRefs } from 'pinia'
import { useUserStore } from '~/stores/user'

const userStore = useUserStore()



const { computedUserList } = storeToRefs(userStore)
const addAgeToUser = userStore.addAgeToUser
const deleteUser = userStore.deleteUser

const userCount = computed(() => computedUserList.value.length)

</script>

<template>


<div class="">
	<h2 class="uppercase font-bold text-2xl mb-4">User Listing ({{userCount}})</h2>
	<div class="grid grid-cols-5 grid-rows-none gap-4">
		<div
			v-for="user in computedUserList"
			:key="user.id"
			class="user-card relative rounded-md text-white py-2 px-4 shadow-dark-600 shadow-md"
			:class="{
				'bg-cyan-500': user.gender === 'Male',
				'bg-pink-500': user.gender === 'Female',
			}"
		>
			<dl>
				<div class="flex">
					<dt class="mr-2">Full Name: </dt>
					<dd>{{user.fullName}}</dd>
				</div>
				<div class="flex">
					<dt class="mr-2">D.O.B.: </dt>
					<dd>{{user.dob}}</dd>
				</div>
				<div class="flex">
					<dt class="mr-2">Age: </dt>
					<dd>{{user.age}}</dd>
				</div>
			</dl>
			
			<div class="mb-2 flex">
				<button class="mt-4 text-sm btn variant-white mr-4 flex items-center font-medium" @click="addAgeToUser(user.id)">
					<carbon-add class="mr-1" /> Age
				</button>
				<button class="mt-4 text-sm btn variant-white mr-4 flex items-center font-medium !text-red-500" @click="deleteUser(user.id)">
					<carbon-delete class="mr-1" /> Delete
				</button>
			</div>
			
			<div class="absolute right-0 top-0 text-5xl mt-2 mr-2">
				<carbon-gender-male v-if="user.gender === 'Male'" class="text-white text-opacity-40" />
				<carbon-gender-female v-else class="text-white text-opacity-40" />
			</div>
		</div>
		
		<div v-if="userCount === 0" class="italic">(Nothing to show)</div>
	</div>
</div>

</template>
