<script setup>

const props = defineProps({
	ariaLabel: { type: String, required: true },
	isExpanded: { type: Boolean, default: false },
	disabled: { type: Boolean, default: false },
})
const emit = defineEmits([
	'change-expand',
])

const internalIsExpanded = ref(props.isExpanded)

const emitExpandChange = () => {
	emit('change-expand', internalIsExpanded.value)
}
const toggleExpand = () => {
	internalIsExpanded.value = !internalIsExpanded.value
	emitExpandChange()
}
const expand = () => {
	internalIsExpanded.value = true
	emitExpandChange()
}
const collapse = () => {
	internalIsExpanded.value = false
	emitExpandChange()
}

watchEffect(() => {
	internalIsExpanded.value = props.isExpanded
})


</script>

<template>
<div class="VueAccordion">
	<button
		:id="`${ariaLabel}`"
		class="VueAccordion-header w-full cursor-pointer"
		@click="disabled ? null : toggleExpand()"
		:disabled="disabled"
		:aria-expanded="internalIsExpanded"
		:aria-controls="`${ariaLabel}-region`"
	>
		<div class="flex items-center" tabindex="-1">
			<div class="title-wrapper">
				<slot name="header" :isExpanded="internalIsExpanded"></slot>
			</div>
			
			<slot name="iconArrow" :isExpanded="internalIsExpanded">
				<bytesize:chevron-bottom
					class="accordion-icon-chevron ml-auto duration-300 transition-transform"
					:style="{ transform: `rotate(${internalIsExpanded ? 180 : 0}deg)` }"
				/>
			</slot>
		</div>
	</button>

	<TransitionSimpleSlideDown>
		<div
			:id="`${ariaLabel}-region`"
			class="VueAccordion-content overflow-hidden"
			v-show="internalIsExpanded"
			role="region"
			:aria-labelledby="ariaLabel"
		>
			<slot :isExpanded="internalIsExpanded"></slot>
		</div>
	</TransitionSimpleSlideDown>
</div>
</template>


<style scoped lang="scss">
@use '~/styles/partials/_colors.scss';
@use '~/styles/partials/_mixins.scss';

/* .VueAccordion {
	
} */

.VueAccordion-header {
	&:focus {
		outline: 2px dashed colors.$tm-orange;
		outline-offset: 1px;
	}
}

</style>
