<script setup>
import useDisableScroll from '~/logic/composition/useDisableScroll.js'

const props = defineProps({
	variant: { type: String, default: '', },
	visible: { type: Boolean, default: true, },
	backdropClosable: { type: Boolean, default: true, },
})
const emit = defineEmits([
	'update:visible'
])

const internalVisible = ref(props.visible)

useDisableScroll(internalVisible)

watch(() => props.visible, (newValue) => {
	internalVisible.value = newValue
})

watch(internalVisible, (newValue) => {
	emit('update:visible', newValue)
})

const handleBackdropClick = (event) => {
	if (props.backdropClosable) {
		internalVisible.value = false
	}
}
const hideOverlay = () => {
	internalVisible.value = false
}

</script>

<template>
<teleport
	to="#overlay-container"
>
	<div
		v-show="internalVisible"
		class="VueOverlayContent"
		:data-variant="variant"
		@click.self="handleBackdropClick"
	>
		<div class="overlay-content">
			<header class="overlay-header">
				<slot name="header" :hideOverlay="hideOverlay"></slot>
			</header>
			<div class="overlay-body">
				<slot name="body" :hideOverlay="hideOverlay"></slot>
			</div>
		</div>
	</div>
</teleport>
</template>


<style scoped lang="scss">
@use '~/styles/partials/_colors.scss';
@use '~/styles/partials/_mixins.scss';

.VueOverlayContent {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 20000;
	display: flex;
	background-color: rgba(#2B2B2B, 75%);
	@apply px-0 py-8 overflow-auto;

	.overlay-content {
		background-color: white;
		border-radius: 8px;
		overflow: hidden;
		// max-height: 80vh;
		margin: auto;
		box-shadow: 0px 4px 10px #C2C2C24D;
	}
	
	&[data-variant*="baseless"] {
		
		.overlay-content {
			background-color: transparent;
		}
	}

	&[data-variant*="full-page"] {
		@apply p-0;
		
		> .generic-container {
			max-width: none;
			padding-left: 0;
			padding-right: 0;
		}
		
		.overlay-content {
			max-width: none;
			max-height: none;
			width: 100%;
			height: 100%;
			border-radius: 0;
		}
	}

	&[data-variant*="fluid-1024"] {
		
		.overlay-content {
			max-width: 1024px;
			width: 100%;
		}
	}

	&[data-variant*="fluid-580"] {
		
		.overlay-content {
			max-width: 480px;
			width: 100%;
		}
	}
}

.overlay-header {
	//background-color: colors.$tm-blue;
	//color: white;
	font-size: 20px;
	@apply pt-5 px-8 flex items-center justify-between;
}
.overlay-body {
	@apply py-5 px-8;
}

</style>
