<script setup>
const props = defineProps({
	name: { type: String, required: true, },
})


</script>

<template>
<div class="VueTabPanel" :data-name="props.name">
	<slot></slot>
</div>
</template>


<style scoped lang="scss">
@use '~/styles/partials/_colors.scss';
@use '~/styles/partials/_mixins.scss';

.VueTabPanel {
	
}

</style>
