<script setup>
import { useSlots } from 'vue'

const props = defineProps({
	modelValue: { type: String, default: '', },
	renderAllPanelsToDOM: { type: Boolean, default: false, },
})
const emit = defineEmits([
	'update:modelValue',
])


const slots = useSlots()

const tabList = computed(() => {
	return slots.default().map(vNode => vNode.props.name)
})
const currentActiveIndex = computed(() => {
	return tabList.value.findIndex(tabName => tabName === props.modelValue)
})
const panelList = computed(() => {
	const defaultSlots = slots.default()
	return props.renderAllPanelsToDOM ? defaultSlots : [defaultSlots.find(vNode => (vNode.props.name === props.modelValue))]
})

const activatePrev = (event) => {
	const newIndex = (
		currentActiveIndex.value === 0 ?
		(tabList.value.length - 1) :
		(currentActiveIndex.value - 1)
	)
	const newTabName = tabList.value[newIndex]
	emit('update:modelValue', newTabName)
}
const activateNext = (event) => {
	const newIndex = (
		(currentActiveIndex.value === (tabList.value.length - 1)) ?
		0 :
		(currentActiveIndex.value + 1)
	)
	const newTabName = tabList.value[newIndex]
	emit('update:modelValue', newTabName)
}

</script>

<template>
<div
	class="VueTabs"
	@keydown.left.prevent="activatePrev"
	@keydown.up.prevent="activatePrev"
	@keydown.right.prevent="activateNext"
	@keydown.down.prevent="activateNext"
>
	<div class="tab-buttons-container flex">
		<button
			class="tab-button mr-4 py-1 px-2 border border-blue-500 rounded-lg"
			:class="{
				'is-active': props.modelValue === tabName,
			}"
			v-for="tabName in tabList"
			:key="tabName"
			@click="$emit('update:modelValue', tabName)"
		>
			<slot :name="`tab-${tabName}`" :tabName="tabName">
				<span class="tab-button-text">{{tabName}}</span>
			</slot>
		</button>
	</div>
	<div class="tab-panels-container">
		<transition
			v-if="panelList.length === 1"
			name="slide-fade"
			mode="out-in"
			tag="span"
			appear
		>
			<component
				:is="panelList[0]"
				:key="panelList[0].props.name"
			/>
		</transition>
		<component
			v-else
			v-for="tabVNode in panelList"
			:key="tabVNode.props.name"
			:is="tabVNode"
			v-show="tabVNode.props.name === props.modelValue"
		/>
	</div>
</div>
</template>


<style scoped lang="scss">
@use '~/styles/partials/_colors.scss';
@use '~/styles/partials/_mixins.scss';

.VueTabs {
	
}

.tab-button {
	&.is-active {
		background-color: colors.$tm-orange;
		color: white;
	}
}



.slide-fade-enter-active {
	transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
	transition: all 0.2s ease-out;
}

.slide-fade-enter-from {
	transform: translateX(50px);
	opacity: 0;
}

.slide-fade-leave-to {
	transform: translateX(-50px);
	opacity: 0;
}

</style>
