<script lang="ts">

export default {
	setup () {
		
		const counter = ref(0)
		
		return {
			counter
		}
	}
}

</script>

<template>

<h1 class="title-component font-bold text-2xl uppercase">This is profile page</h1>

<p>counter: {{counter}}</p>

<button @click="counter++">Add counter</button>


</template>
